* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	--activeText: white;
	--noActiveText: rgb(146, 146, 146);
	--orange: #f50;
	--blue: rgb(92, 92, 217);
}

body {
	color: var(--activeText);
	background-color: black;
	user-select: none;
}


.container {
	padding: 0 50px;
}

.header {
	height: 72px;
	font-family: 'Scada', sans-serif;
	user-select: none;
}

.menu {
	font-size: 18px;
	display: flex;
	height: 100%;
	align-items: center;
}

.menu__logo .name {
	font-size: 35px;
	font-weight: 700;
	color: var(--orange);
}

.menu__list {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-grow: 1;
}

.list_el {
	color: var(--noActiveText);
	line-height: 3;

}

.list_el:hover {
	color: var(--activeText);
}

.list_el:hover .cursor {
	width: 100%;
	transition: 0.3s;
}

.cursor {
	/* position: relative; */
	margin: auto;
	width: 0px;
	height: 2px;
	background-color: var(--orange);
	transition: 0.3s;
}

.menu__logo {
	display: flex;
	align-items: center;
	height: 100%;
}

.burger-icon {
	width: 25px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	margin-right: 20px;
}

.burger-line {
	height: 2px;
	width: 100%;
	background-color: var(--noActiveText);
}

main {
	font-family: 'Scada', sans-serif;
}

.content1__line {
	font-weight: 700;
	text-align: center;
	font-size: 48px;
}

.content1__line.mode {
	color: var(--blue);
}

.content1__line.small {
	font-size: 20px;
}

.content1__line.very-small {
	font-size: 16px;
}

.buttonSubscription {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--activeText);
	font-size: 24px;
	margin: auto;
	height: 60px;
	width: 350px;
	border-radius: 60px;
	background: -webkit-linear-gradient(45deg, rgb(201, 128, 10), rgb(163, 36, 0));
	background: -moz-linear-gradient(45deg, rgb(201, 128, 10), rgb(163, 36, 0));
	background: linear-gradient(45deg, rgb(201, 128, 10), rgb(163, 36, 0));
	margin-top: 100px;
	margin-bottom: 30px;
	transition: 0.3s;
}

.buttonSubscription:hover {

	height: calc(60*1.1px);
	width: calc(350*1.1px);
	margin-bottom: 24px;
	transition: 0.3s;

}

.scroll-container {
	display: flex;
	overflow-x: scroll;
	gap: 30px;
}


.scroll-element {
	width: 200px;
	height: 300px;
	flex-shrink: 0;

}

.scroll-element img {
	width: 100%;
}

.scroll-container::-webkit-scrollbar {
	width: 0;
}

.btn-scroll {
	font-size: 40px;
	color: var(--noActiveText);
}

.btn-scroll:hover {
	color: var(--activeText);
}

.scroll-title {
	padding: 20px 68px;
}

.scroll-line {
	display: flex;
	align-items: center;
	gap: 50px;
}

.container-autorization {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.autorization {
	box-shadow: 0px 0px 15px 5px rgb(172, 172, 172);
	margin-top: -15%;
	width: 370px;
	/* height: 240px; */
	background-color: rgba(96, 96, 96, 0.9);
	border-radius: 10px;
	padding: 10px 40px;
	font-size: 18px;
	font-weight: 700;
}

.autorization_text {
	color: var(--activeText);
	width: 130px;

}

.subtext {
	color: var(--noActiveText);
	line-height: 25px;
	/* padding-top:15px; */
}

.autorization input {
	height: 24px;
	width: 220px;
	padding: 3px 5px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	background-color: rgb(200, 200, 200);
}

.autorization p {
	display: flex;
	/* align-items: center; */
	line-height: 40px;
	padding-top:10px;

}

.autorization .esc {
	width: 100%;
	color: var(--noActiveText);
	font-size: 40px;
	text-align: right;
}

.autorization .esc:hover {
	color: var(--activeText);
}

.autorization_text:not(.subtext):hover {
	color: var(--orange)
}

#registration {
	display: none;
}